$__INCLUDE_ICON_SCSS: true !default !global;

@if $__INCLUDE_ICON_SCSS {
	$__INCLUDE_ICON_SCSS: false;

	[class^="icon-"], [class*=" icon-"] {
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		font-size: 32px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}