body {
    .navbar-light, .navbar-dark {
        height: 65px;
        padding-top:20px;
    }
    statusbar {
        height: 20px;
    }
    .view {
        padding-top: 65px;
    }
    // TODO: bake this into iscroll as e.g. offset option
    .iScrollVerticalScrollbar.iScrollLoneScrollbar {
      top: 67px !important;
    }
    //
}